.user_show
  %h2 You Experiences

  %div= link_to 'Create experience', new_experience_path

  - @experiences.each do |experience|
    .small-cards
      .card
        .card-image= image_tag experience.image_url
        .card-header= experience.title
        .card-copy
          %p= experience.description
