#home
  = image_tag 'https://d28htnjz2elwuj.cloudfront.net/wp-content/uploads/2013/11/University_of_Florida_logo.jpg'
  %h1 Welcome to My First Year Florida!
  %p This is a basic site that enables users to share their experience with other students who are in their first year at the University of Florida.
  %p Look around and see what other students here at the University of Florida are sharing and become aware of why this school is so great!
  %p Are you a first year student at the University and would like to share your experience? Sign up and start sharing your experience today!
