- @experiences.each do |experience|
  .cards
    .card
      .card-image= image_tag experience.image_url
      .card-header= experience.title
      .card-copy
        %p= experience.description
= will_paginate @experiences
