/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
@import "bourbon";
@import "neat";
@import "home";
@import "users";
*/

// Pagination

#main{
  $background-color: #fff !default;
  $default-font: sans-serif !default;
  $font-color: #fff;
  $font-size: 14px;
  $border-color: darken($background-color, 40%);
  $border-field-color: darken($background-color, 55%);
  $field-border-radius: 8px;
  $default-border-radius: 10px;
  $field-height: 2.0em;
  $textarea-height: 6.0em;
  $primary-color: #008B00;
  $gator-orange: #dd661e !default;
  $gator-blue: #00529b;
  $success-color: #28AADC;
  $danger-color: #FA3434;
  $warning-color: #FF9308;

  background-color: $background-color;
  font-family: $default_font;
  margin: 0;

  #home{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    p{
      font-size: $font-size + 8;
    }
  }

  .center{
    margin-right: auto;
    margin-left: auto;
  }

  .image-url{
    display: none;
  }

  .filepicker-url{
    display: none;
  }

  .left{
    float: left;
  }

  .right{
    float: right;
  }

  #username{
    margin: 0px 5px;
  }

  .header{
    margin: 0 10px;
  }

  .user-list{
    border: 1px solid lighten($gator-blue, 60%);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .table-minimal {
    $base-border-color: gainsboro !default;
    $base-border-radius: 3px !default;
    $base-background-color: white !default;
    $base-line-height: 1.5em !default;
    $base-spacing: 1.5em !default;
    $action-color: #477DCA !default;
    $dark-gray: #333 !default;
    $light-gray: #DDD !default;
    $medium-screen: 40em !default;
    $large-screen: 53.75em !default;
    $base-font-color: $dark-gray !default;
    $table-border-color: $base-border-color;
    $table-border: 1px solid $table-border-color;
    $table-background: $base-background-color;
    $table-header-background: lighten($table-background, 10);
    $table-hover-background: darken($table-background, 2);
    $table-stripe-background: darken($table-background, 4);
    $table-stripe-background-hover: darken($table-stripe-background, 5);
    $table-padding: 0.75em 1em;

    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    tbody {
      tr:hover > td, tr:hover > th {
	background-color: $table-hover-background;
      }
      tr:first-child td {
	border-top: 2px solid $table-border-color;
      }
    }

    thead {
      th {
	background-color: $table-header-background;
	border-bottom: 0;
	padding: $table-padding;
	text-align: left;
      }
    }

    tbody {
      background-color: $table-background;

      td {
        border-bottom: 0;
        border-top: 1px solid $table-border-color;
        line-height: $base-line-height;
        padding: $table-padding;
      }
    }
  }

  .user_show{
    margin: 10px;
    .archive, .unarchive{
      padding: 7px;
      font-size: $font-size - 3;
      background-color: $background-color;
      font-weight: 300;
      text-transform: uppercase;
      border-radius: 18px;
      color: $danger-color;
      text-decoration: none;
      border: 1px solid $danger-color;
      margin-bottom: 5px;
      &:hover{
        color: darken($danger-color, 10%);
        border: 1px solid darken($danger-color, 10%);
        background-color: darken($background-color, 2%);
        cursor: pointer;
      }
    }
    .actions{
      margin: 0 0 10px 0;
      #my-experience{
        padding: 0 5px 0 0;
        a{
          padding: 10px;
          font-size: $font-size;
          background-color: $background-color;
          font-weight: 300;
          text-transform: uppercase;
          height: 2.9rem;
          border-radius: 28px;
          color: $gator-blue;
          text-decoration: none;
          border: 2px solid $gator-blue;
          &:hover{
            color: darken($gator-blue, 10%);
            border: 2px solid darken($gator-blue, 10%);
            background-color: darken($background-color, 2%);
          }
        }
      }

      #archived-experiences{
        padding: 0 5px 0 0;
        a{
          padding: 10px;
          font-size: $font-size;
          background-color: $background-color;
          font-weight: 300;
          text-transform: uppercase;
          height: 2.9rem;
          border-radius: 28px;
          color: $danger-color;
          text-decoration: none;
          border: 2px solid $danger-color;
          &:hover{
            color: darken($danger-color, 10%);
            border: 2px solid darken($danger-color, 10%);
            background-color: darken($background-color, 2%);
          }
        }
      }

      #create-experience{
        padding: 0 5px 0 0;
        a{
          padding: 10px;
          font-size: $font-size;
          background-color: white;
          font-weight: 300;
          text-transform: uppercase;
          height: 2.9rem;
          border-radius: 28px;
          color: $gator-orange;
          text-decoration: none;
          border: 2px solid $gator-orange;
          &:hover{
            color: darken($gator-orange, 10%);
            border: 2px solid darken($gator-orange, 10%);
            background-color: darken($background-color, 2%);
          }
        }
      }
    }
  }

  .experience-header{
    width: 58%;
    text-align: center;
    color: $gator-blue;
    border-bottom: 1px solid lighten($gator-blue, 60%);
  }

  label{
      font-size: $font-size + 5;
  }

  fieldset{
    border: none;

    dt{
        padding-bottom: 0.25em;
    }

    dd{
        margin: 0;
        padding-bottom: 1.0em;
    }

    input{
        padding: 1.0em;
        border: 1px solid $border-field-color;
        font-size: $font-size;
        height: $field-height;
        border-radius: $field-border-radius;
        width: 100%;
    }

    textarea{
        padding: 1.0em;
        border: 1px solid $border-field-color;
        font-size: $font-size;
        height: $textarea-height;
        border-radius: $field-border-radius;
        width: 100%;
    }

    .small-field{
        width: 35%;
    }
  }

  .success-button{
    padding: 0 1.0em;
    color: $gator-orange;
    border: 0.14em solid $gator-orange;
    &:hover{
        cursor: pointer;
        color: darken($success-color, 10%);
        border: 0.14em solid darken($gator-orange, 10%);
        background-color: darken($background-color, 3%);
    }
  }
  fieldset.actions{
    input{
      padding: 10px;
      font-size: $font-size;
      background-color: white;
      font-weight: 300;
      text-transform: uppercase;
      height: 2.9rem;
      border-radius: 28px;
      width: 25%;
      color: $gator-orange;
      border: 0.14rem solid $gator-orange;
      &:hover{
        cursor: pointer;
        color: darken($gator-orange, 10%);
        background-color: darken($background-color, 2%);
      }
    }
  }

  .form{
    margin: 0px 5px;
    width: 50%;

    input{
    }

    textarea{
      height: 200px;
    }

    .left{
      width: 35%;
    }
    .right{
      width: 60%;
    }
  }
  #sign_up{

    h1{
      border-bottom: 1px solid lighten($border-color, 35%);
      text-align: center;
    }

    .left{
      border: 1px solid $border-color;
      border-radius: $default-border-radius;
      width: 49%;
    }

    .right{
      border: 1px solid $border-color;
      border-radius: $default-border-radius;
      width: 49%;
    }
  }

  .pagination{
    $background-color: #D7DEF0;
    $font-color: #4D4D4D;
    text-align: center;
    margin: 0 0 30px 0;
    a, .previous_page, .next_page, em{
      background-color: $background-color;
      text-decoration: none;
      color: $font-color;
      padding: 10px;
      border-radius: 4px;
    }

    em, .disabled{
      background-color: darken($background-color, 10%);
    }
  }

  .cards {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // Images

  .card {
    $base-border-color: gainsboro !default;
    $base-border-radius: 3px !default;
    $base-background-color: white !default;
    $base-spacing: 1.5em !default;
    $action-color: #477DCA !default;
    $dark-gray: #333 !default;
    $base-font-color: $dark-gray !default;
    $card-border-color: $base-border-color;
    $card-border: 1px solid $card-border-color;
    $card-background: lighten($card-border-color, 10%);
    $card-header-background: $card-background;
    $card-margin: 1em;
    $card-image-hover-opacity: 0.7;
    $card-image-hover-color: #F8F2B4;

    background-color: $card-background;
    border: $card-border;
    border-radius: $base-border-radius;
    box-shadow: 0 2px 4px darken($base-background-color, 10%);
    flex-basis: 15em;
    flex-grow: 1;
    margin: 0 $card-margin $base-spacing $card-margin;
    position: relative;
    transition: all 0.2s ease-in-out;

    .card-image {
      // background-color: $background-color;
      height: 550px;
      max-height: 550px;
      overflow: hidden;

      img {
        transition: all 0.2s ease-in-out;
        width: 100%;
      }
    }

    .card-header {
      background-color: $card-header-background;
      border-bottom: $card-border;
      border-radius: $base-border-radius $base-border-radius 0 0;
      font-weight: bold;
      line-height: 1.5em;
      padding: ($base-spacing / 3) ($base-spacing / 2);
      transition: all 0.2s ease-in-out;
    }

    .card-copy {
      font-size: 0.9em;
      line-height: 1.5em;
      padding: ($base-spacing / 2) ($base-spacing / 2);

      p {
        margin: 0 0 ($base-spacing / 2);
      }
    }

    &:active {
      background-color: $card-background;

      .card-header {
        background-color: $card-background;
      }
    }
  }

  .small-cards {

    $card-image-hover-color: #F8F2B4;

    float: left;
    margin: 10px 0;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card-image {
      height: 100%;
      height: 250px;
      max-height: 250px;
      overflow: hidden;

      img {
        transition: all 0.2s ease-in-out;
        width: 100%;
        height: 100%;
      }
    }
  }

  // Navigation

  header.navigation {
    $base-border-color: gainsboro !default;
    $base-border-radius: 3px !default;
    $action-color: #477DCA !default;
    $large-screen: 53.75em !default;
    $font-color: #fff;
    $navigation-padding: 1em;
    $navigation-background: $gator-orange;
    $navigation-color: transparentize(white, 0.3);
    $navigation-color-hover: white;
    $navigation-height: 48px;
    $navigation-nav-button-background: $action-color;
    $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
    $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
    $navigation-search-background: lighten($navigation-background, 5);
    $navigation-search-border: 1px solid darken($navigation-background, 5);
    $navigation-active-link-color: transparentize(white, 0.5);
    $navigation-submenu-padding: 1em;
    $navigation-submenu-width: 12em;
    $horizontal-bar-mode: $large-screen;


    background-color: $navigation-background;
    border-bottom: 1px solid darken($navigation-background, 10);
    min-height: $navigation-height;
    width: 100%;
    z-index: 999;
    margin-bottom: 20px;

    .navigation-wrapper {
      font-size: 14px;
      font-family: $default-font;
      font-weight: bold;
      float: left;
      position: relative;
      z-index: 9999;
    }

    .logo {
      float: left;
      height: $navigation-height;
      max-height: $navigation-height;
      padding-right: 2em;

      img {
        width: $navigation-height;
        height: $navigation-height;
        max-height: $navigation-height;
      }
    }


  // Mobile view

    .navigation-menu-button {
      color: $font-color;
      display: block;
      float: right;
      line-height: $navigation-height;
      margin: 0;
      padding-right: 1em;
      text-decoration: none;
      text-transform: uppercase;

      &:focus,
      &:hover {
        color: darken($font-color, 10%);
      }
    }


  // Nav menu

    nav {
      float: none;
      min-height: $navigation-height;
      z-index: 9999999;
    }

    ul.navigation-menu {
      clear: both;
      display: none;
      margin: 0 auto;
      overflow: visible;
      padding: 0;
      width: 100%;
      z-index: 9999;

      &.show {
        display: block;
      }

    }


  // The nav items

    ul li.nav-link {
      background: $navigation-background;
      display: block;
      line-height: $navigation-height;
      overflow: hidden;
      padding-right: 0.8em;
      text-align: right;
      width: 100%;
      z-index: 9999;

      a {
        color: $navigation-color;
        display: inline-block;
        text-decoration: none;

        &:focus,
        &:hover {
          color: $navigation-color-hover;
        }
      }
    }

    .active-nav-item a {
      border-bottom: 1px solid $navigation-active-link-color;
      padding-bottom: 3px;
    }


  // Sub menus

    li.more.nav-link {
      padding-right: 0;

      > ul > li:first-child a  {
        padding-top: 1em;
      }

      a {
        margin-right: $navigation-submenu-padding;
      }

      > a {
        padding-right: 0.6em;
      }

    }

    li.more {
      overflow: visible;
      padding-right: 0;

      a {
        padding-right: 0.8em;
      }

      > a {
        padding-right: 1.6em;
        position: relative;

        &::after {
          content: "›";
          font-size: 1.2em;
          position: absolute;
          right: $navigation-submenu-padding / 2;
        }
      }

      &:focus > .submenu,
      &:hover > .submenu {
        display: block;
      }

    }

    ul.submenu {
      display: none;
      padding-left: 0;

      li {
        display: block;
        padding-right: 0;

        a {
          background-color: darken($navigation-background, 3%);
          display: inline-block;
          text-align: right;
          width: 100%;

        }
      }
    }


  // Elements on the far right

    .search{
      padding: 0;
      .navigation-tools {
        clear: both;
        display: block;
        height: $navigation-height;
        width: 249px;
        form{
          margin: 0;
        }

        input[type=search]{
          font-size: $font-size;
          padding: 10px;
          height: 100%;
          background-color: darken(#fff, 4%);
        }

        button[type=submit]{
          background-color: $gator-orange;
          border: 1px solid $background-color;
          width: 20%;
          height: 100%;
          img{
            height: 50%;
            &:hover{
              cursor: pointer;
            }
          }
        }

      }
    }
  }
}
